## Program takes data.csv file as input which contains raw data 
## Then it performs
          1.Data cleaning, 
          2.Categorical value to numerical value conversion
          3.Data Normalization
          4.Data Partition
## During Data partition, it splits data into
           1.Training data     It contains 75% of the whole dataset
           2.Validation data   It contains 15% of the whole dataset
           3.Test data         It contains 10% of the whole dataset
## Then Program use Keras to build Neural Network, train the network and evaluate the network
## Result:
            1. Taining Accuracy = 97.41%
            2. Validation Accuracy = 97.35%
            3. Test Accuracy = 97.27%
## On average Accuracy lies arround 97%

In [405]:
import pandas as pd
import numpy as np
import time
import datetime
from keras.models import Sequential
from keras.layers import Dense
from keras.layers.core import Dropout
from keras.utils import to_categorical
from keras.regularizers import l2
from keras.models import load_model

In [406]:
#load csv file to the pandas dataframe
data = pd.read_csv('data.csv')

### Data Visualization

In [407]:
data.head(10)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26 13:38:27,52375.00,successful,224,US,52375.00,52375.00,50000.00
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.0,2014-12-01 18:30:44,1205.00,successful,16,US,1205.00,1205.00,1000.00
7,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.0,2016-02-01 20:05:12,453.00,failed,40,US,453.00,453.00,25000.00
8,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29,125000.0,2014-04-24 18:14:43,8233.00,canceled,58,US,8233.00,8233.00,125000.00
9,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10,65000.0,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,6240.57,65000.00

In [408]:
# I used data.info() and data.describe to see the distribution of the data

In [409]:
# Used groupby from pandas to see each category of the

In [410]:
group_state = data.groupby('state')

In [411]:
len(group_state.groups)

6

In [412]:
group_main_category = data.groupby('main_category')

In [413]:
len(group_main_category.groups)

15

In [414]:
group_currency = data.groupby('currency')

In [415]:
len(group_currency.groups)

14

In [416]:
groups_country = data.groupby('country')

In [417]:
len(groups_country)

23

## Get successful and failed data from the whole dataset

In [418]:
# Filter out other Projects which are in canceled,live,suspended and undefined state
# Because from these data we can not get information whether the project is going to be 
# successful or not
success_fail_data = data.loc[(data['state']=='successful')|(data['state']=='failed')]
# Now there are 331,675 rows left

In [419]:
success_fail_data.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26 13:38:27,52375.0,successful,224,US,52375.0,52375.0,50000.00

## Filter the required columns which might have the high impact on output

In [420]:
# ID, name might not have huge impact in the success of the project
filtered_data = success_fail_data.filter(items = ['main_category','currency','state','backers',\
                                                  'country','usd_pledged_real','usd_goal_real'])

In [421]:
filtered_data.head()

,main_category,currency,state,backers,country,usd_pledged_real,usd_goal_real
0,Publishing,GBP,failed,0,GB,0.0,1533.95
1,Film & Video,USD,failed,15,US,2421.0,30000.00
2,Film & Video,USD,failed,3,US,220.0,45000.00
3,Music,USD,failed,1,US,1.0,5000.00
5,Food,USD,successful,224,US,52375.0,50000.00

## Convert string datatype to integer datatype

In [422]:
Main_category = {'Art':1,'Comics':2,'Crafts':3,'Dance':4,'Design':5,'Fashion':6,'Film & Video':7,\
                 'Food':8,'Games':9,'Journalism':10,'Music':11,'Photography':12,'Publishing':13,'Technology':14\
                ,'Theater':15}
Currency = {'AUD':1,'CAD':2,'CHF':3,'DKK':4,'EUR':5,'GBP':6,'HKD':7,'JPY':8,'MXN':9,'NOK':10,'NZD':11,'SEK':12\
           ,'SGD':13,'USD':14}
Country = {'AT':1,'AU':2,'BE':3,'CA':4,'CH':5,'DE':6,'DK':7,'ES':8,'FR':9,'GB':10,'HK':11,'IE':12,'IT':13\
          ,'JP':14,'LU':15,'MX':16,'N,0"':17,'NL':18,'NO':19,'NZ':20,'SE':21,'SG':22,'US':23}
State = {'failed':0,'successful':1}

## Normalization of the data

In [423]:
filtered_data.state = [State[item] for item in filtered_data.state]
filtered_data.main_category = [Main_category[item]/15 for item in filtered_data.main_category]
filtered_data.currency = [Currency[item]/14 for item in filtered_data.currency]
filtered_data.country = [Country[item]/23 for item in filtered_data.country]
max_backers = filtered_data.backers.max()
max_usd_pledged_real = filtered_data.usd_pledged_real.max()
max_usd_goal_real = filtered_data.usd_goal_real.max()
filtered_data.backers = [item/max_backers for item in filtered_data.backers]
filtered_data.usd_pledged_real = [item/max_usd_pledged_real for item in filtered_data.usd_pledged_real]
filtered_data.usd_goal_real = [item/max_usd_goal_real for item in filtered_data.usd_goal_real]

In [424]:
filtered_data.head()

,main_category,currency,state,backers,country,usd_pledged_real,usd_goal_real
0,0.866667,0.428571,0,0.000000,0.434783,0.000000e+00,0.000009
1,0.466667,1.000000,0,0.000068,1.000000,1.190325e-04,0.000180
2,0.466667,1.000000,0,0.000014,1.000000,1.081666e-05,0.000270
3,0.733333,1.000000,0,0.000005,1.000000,4.916666e-08,0.000030
5,0.533333,1.000000,1,0.001021,1.000000,2.575104e-03,0.000301

In [425]:
filtered_data.describe()

,main_category,currency,state,backers,country,usd_pledged_real,usd_goal_real
count,331675.000000,331675.000000,331675.000000,331675.000000,331675.000000,331675.000000,3.316750e+05
mean,0.565561,0.862945,0.403877,0.000530,0.869340,0.000489,2.495170e-04
std,0.262098,0.277041,0.490674,0.004401,0.269297,0.004756,6.665787e-03
min,0.066667,0.071429,0.000000,0.000000,0.043478,0.000000,6.011010e-11
25%,0.400000,1.000000,0.000000,0.000009,1.000000,0.000002,1.202202e-05
50%,0.533333,1.000000,0.000000,0.000068,1.000000,0.000039,3.005505e-05
75%,0.733333,1.000000,1.000000,0.000287,1.000000,0.000227,9.016515e-05
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00

## Split failed project and successful project to balance the data set

In [426]:
#success_fail_data = data.loc[(data['state']=='successful')|(data['state']=='failed')]
success_project = filtered_data.loc[filtered_data['state']==1]
failed_project = filtered_data.loc[filtered_data['state']==0]

## Split test, validation and training data from individual failed and successful project

In [427]:
# To randomly shuffle the successful project data
success_project = success_project.sample(frac=1)
# To seperate 10% of data for the test data from successful project
test_length_success = int(len(success_project)*0.1) 
#To seperate 15% of data for the validation from succesful project
validation_length_success = int(len(success_project)*0.25)
success_test_data = success_project[:test_length_success :]
success_validation_data = success_project[test_length_success:validation_length_success :]
success_train_data = success_project[validation_length_success: :]

In [428]:
print(len(success_test_data))
print(len(success_validation_data))
print(len(success_train_data))

13395
20094
100467

In [429]:
print(len(failed_project))

197719

## This data set is unblanced, there are 133,956 successful projects and 197719 failed,
## unsuccessful, project. So I balanced the data set by using following steps

In [430]:
# To randomly shuffle and get only 67.751% of the failed project data
# Main purpose of this line is to balance the number of successful and failed project
failed_project = failed_project.sample(frac=len(success_project)/len(failed_project))
# To seperate 10% of data for the test data from failed project
print('Now new length of failed_project is=', len(failed_project))
test_length_failed = int(len(failed_project)*0.1) 
#To seperate 15% of data for the validation from failed project
validation_length_failed = int(len(failed_project)*0.25)
failed_test_data = failed_project[:test_length_failed :]
failed_validation_data = failed_project[test_length_failed:validation_length_failed :]
failed_train_data = failed_project[validation_length_failed: :]

Now new length of failed_project is= 133956

In [431]:
print(len(failed_test_data))
print(len(failed_validation_data))
print(len(failed_train_data))

13395
20094
100467

## Merge test data from the failed project to the test data from the successful project

In [432]:
final_test_data = pd.concat([success_test_data,failed_test_data],axis = 0)
# Randomly shuffle the final_test_data to fixed the successful test data and failed test data
final_test_data = final_test_data.sample(frac=1)

## Merge validation data from the failed project to the validation data from the successful project

In [433]:
final_validation_data = pd.concat([success_validation_data,failed_validation_data],axis = 0)
# Randomly shuffle the final_validaion_data to fixed the successful validaion data and failed validaion data
final_validation_data = final_validation_data.sample(frac=1)

## Merge training data from the failed project to the training data from the successful project

In [434]:
final_training_data = pd.concat([success_train_data,failed_train_data],axis = 0)
# Randomly shuffle the final_training_data to fix the successful training data and failed training data
final_training_data = final_training_data.sample(frac = 1)

## Write the final test data, final validation data and final training data to the csv file

In [435]:
final_test_data.to_csv('processed_data/final_test_data.csv')
final_validation_data.to_csv('processed_data/final_validation_data.csv')
final_training_data.to_csv('processed_data/final_training_data.csv')

## Seperate inputs from label

In [436]:
train_inputs = final_training_data.filter(items = ['main_category','currency','backers',\
                                                  'country','usd_pledged_real','usd_goal_real'])
train_labels = final_training_data.filter(items = ['state'])

In [437]:
train_inputs.head()

,main_category,currency,backers,country,usd_pledged_real,usd_goal_real
113607,0.933333,0.357143,0.000009,0.652174,1.076750e-07,6.575444e-07
363815,0.733333,1.000000,0.000492,1.000000,5.971291e-04,6.011010e-05
304484,0.866667,0.428571,0.000520,0.434783,4.168610e-04,1.364449e-04
213322,0.733333,1.000000,0.000005,1.000000,7.374999e-07,7.213212e-06
28016,0.866667,1.000000,0.000324,1.000000,1.947000e-04,5.409909e-06

In [438]:
train_labels.head()

        state
113607      0
363815      1
304484      0
213322      0
28016       1

In [439]:
test_inputs = final_test_data.filter(items = ['main_category','currency','backers',\
                                                  'country','usd_pledged_real','usd_goal_real'])
test_labels = final_test_data.filter(items = ['state'])

validation_inputs = final_validation_data.filter(items = ['main_category','currency','backers',\
                                                  'country','usd_pledged_real','usd_goal_real'])
validation_labels = final_validation_data.filter(items = ['state'])

In [440]:
test_inputs.head()

,main_category,currency,backers,country,usd_pledged_real,usd_goal_real
91947,0.533333,1.0,0.000005,1.0,0.000002,0.000150
92035,0.866667,1.0,0.000191,1.0,0.000108,0.000096
254103,0.600000,1.0,0.000036,1.0,0.000263,0.000150
313233,0.533333,1.0,0.000027,1.0,0.000015,0.000001
19180,0.866667,1.0,0.000292,1.0,0.000620,0.000102

## Convert pandas dataframe to numpy ndarray for the trainging

In [441]:
numpy_train_inputs = train_inputs.as_matrix()
numpy_train_labels = train_labels.as_matrix()
numpy_test_inputs = test_inputs.as_matrix()
numpy_test_labels = test_labels.as_matrix()
numpy_validation_inputs = validation_inputs.as_matrix()
numpy_validation_labels = validation_labels.as_matrix()

In [442]:
numpy_train_labels[:5]

array([[0],
       [1],
       [0],
       [0],
       [1]])

### Convert numpy array labels to categorical value
#### Here first or top node represent the zero if top node gets the output value near 1 that means
####  that particular project is unsuccess one. 
#### Same principle follows to the success node, buttom node.

In [443]:
train_label_categ = to_categorical(numpy_train_labels)
test_label_categ = to_categorical(numpy_test_labels)
validation_label_categ = to_categorical(numpy_validation_labels)

In [444]:
train_label_categ[:5]

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.]], dtype=float32)

In [445]:
type(numpy_train_inputs)

numpy.ndarray

In [446]:
numpy_train_inputs[0]

array([9.33333333e-01, 3.57142857e-01, 9.11651822e-06, 6.52173913e-01,
       1.07674983e-07, 6.57544395e-07])

In [447]:
numpy_train_labels.shape

(200934, 1)

# Train Model Using keras

In [448]:
model = Sequential([
    Dense(12,activation='relu',input_shape = (6,)),
    Dense(12,activation='relu'),
    Dense(2,activation='softmax')
])

In [449]:
model.compile(optimizer='adam',loss = 'categorical_crossentropy',
               metrics = ['accuracy'])

In [450]:
model.fit(numpy_train_inputs,train_label_categ,epochs = 200, batch_size=128,
            validation_data=(numpy_validation_inputs,validation_label_categ))

Train on 200934 samples, validate on 40188 samples
Epoch 1/200
200934/200934 [==============================] - 3s 15us/step - loss: 0.6906 - acc: 0.5219 - val_loss: 0.6890 - val_acc: 0.5412
Epoch 2/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.6829 - acc: 0.5534 - val_loss: 0.6712 - val_acc: 0.5911
Epoch 3/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.6473 - acc: 0.6349 - val_loss: 0.6207 - val_acc: 0.6562
Epoch 4/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.5909 - acc: 0.6999 - val_loss: 0.5592 - val_acc: 0.7588
Epoch 5/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.5385 - acc: 0.7474 - val_loss: 0.5113 - val_acc: 0.7587
Epoch 6/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.4952 - acc: 0.7839 - val_loss: 0.4734 - val_acc: 0.7656
Epoch 7/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.4630 - acc: 0.8039 - val_loss: 0.4456 - val_acc: 0.8165
Epoch 8/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.4423 - acc: 0.8177 - val_loss: 0.4275 - val_acc: 0.8215
Epoch 9/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.4267 - acc: 0.8299 - val_loss: 0.4251 - val_acc: 0.8717
Epoch 10/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.4146 - acc: 0.8379 - val_loss: 0.4049 - val_acc: 0.8244
Epoch 11/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.4064 - acc: 0.8432 - val_loss: 0.3946 - val_acc: 0.8626
Epoch 12/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.3988 - acc: 0.8482 - val_loss: 0.3944 - val_acc: 0.8193
Epoch 13/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.3909 - acc: 0.8514 - val_loss: 0.3832 - val_acc: 0.8283
Epoch 14/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.3827 - acc: 0.8558 - val_loss: 0.3778 - val_acc: 0.8909
Epoch 15/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.3731 - acc: 0.8608 - val_loss: 0.3666 - val_acc: 0.8368
Epoch 16/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.3628 - acc: 0.8667 - val_loss: 0.3576 - val_acc: 0.8984
Epoch 17/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.3550 - acc: 0.8697 - val_loss: 0.3814 - val_acc: 0.8112
Epoch 18/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.3461 - acc: 0.8741 - val_loss: 0.3374 - val_acc: 0.8542
Epoch 19/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.3371 - acc: 0.8778 - val_loss: 0.3249 - val_acc: 0.8649
Epoch 20/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.3285 - acc: 0.8818 - val_loss: 0.3171 - val_acc: 0.9129
Epoch 21/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.3185 - acc: 0.8864 - val_loss: 0.3032 - val_acc: 0.8907
Epoch 22/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.3107 - acc: 0.8895 - val_loss: 0.3022 - val_acc: 0.9227
Epoch 23/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.2997 - acc: 0.8948 - val_loss: 0.2909 - val_acc: 0.8831
Epoch 24/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.2920 - acc: 0.8977 - val_loss: 0.3014 - val_acc: 0.9213
Epoch 25/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.2828 - acc: 0.9007 - val_loss: 0.3048 - val_acc: 0.8998
Epoch 26/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.2751 - acc: 0.9032 - val_loss: 0.2751 - val_acc: 0.8798
Epoch 27/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.2652 - acc: 0.9077 - val_loss: 0.2761 - val_acc: 0.9229
Epoch 28/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.2595 - acc: 0.9080 - val_loss: 0.2565 - val_acc: 0.8923
Epoch 29/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.2477 - acc: 0.9135 - val_loss: 0.2434 - val_acc: 0.9366
Epoch 30/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.2398 - acc: 0.9155 - val_loss: 0.2872 - val_acc: 0.8573
Epoch 31/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.2284 - acc: 0.9182 - val_loss: 0.2111 - val_acc: 0.9387
Epoch 32/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.2204 - acc: 0.9185 - val_loss: 0.1974 - val_acc: 0.9377
Epoch 33/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.2095 - acc: 0.9225 - val_loss: 0.1958 - val_acc: 0.9197
Epoch 34/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1978 - acc: 0.9266 - val_loss: 0.2782 - val_acc: 0.8612
Epoch 35/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.1933 - acc: 0.9263 - val_loss: 0.2447 - val_acc: 0.8783
Epoch 36/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.1860 - acc: 0.9283 - val_loss: 0.1684 - val_acc: 0.9421
Epoch 37/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.1780 - acc: 0.9310 - val_loss: 0.2310 - val_acc: 0.8875
Epoch 38/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1728 - acc: 0.9324 - val_loss: 0.1554 - val_acc: 0.9388
Epoch 39/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.1686 - acc: 0.9328 - val_loss: 0.1523 - val_acc: 0.9430
Epoch 40/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.1617 - acc: 0.9361 - val_loss: 0.1461 - val_acc: 0.9487
Epoch 41/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.1558 - acc: 0.9385 - val_loss: 0.1425 - val_acc: 0.9388
Epoch 42/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1571 - acc: 0.9370 - val_loss: 0.1384 - val_acc: 0.9496
Epoch 43/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.1531 - acc: 0.9382 - val_loss: 0.1402 - val_acc: 0.9415
Epoch 44/200
200934/200934 [==============================] - 3s 13us/step - loss: 0.1463 - acc: 0.9421 - val_loss: 0.1543 - val_acc: 0.9443
Epoch 45/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.1432 - acc: 0.9440 - val_loss: 0.1325 - val_acc: 0.9503
Epoch 46/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.1399 - acc: 0.9453 - val_loss: 0.1406 - val_acc: 0.9506
Epoch 47/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.1399 - acc: 0.9453 - val_loss: 0.1570 - val_acc: 0.9398
Epoch 48/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.1359 - acc: 0.9474 - val_loss: 0.1210 - val_acc: 0.9521
Epoch 49/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1339 - acc: 0.9478 - val_loss: 0.1501 - val_acc: 0.9424
Epoch 50/200
200934/200934 [==============================] - 3s 13us/step - loss: 0.1318 - acc: 0.9491 - val_loss: 0.1126 - val_acc: 0.9580
Epoch 51/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1285 - acc: 0.9499 - val_loss: 0.1124 - val_acc: 0.9600
Epoch 52/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1311 - acc: 0.9485 - val_loss: 0.1176 - val_acc: 0.9585
Epoch 53/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1300 - acc: 0.9499 - val_loss: 0.1089 - val_acc: 0.9664
Epoch 54/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1222 - acc: 0.9531 - val_loss: 0.1070 - val_acc: 0.9563
Epoch 55/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1224 - acc: 0.9523 - val_loss: 0.1889 - val_acc: 0.9361
Epoch 56/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1200 - acc: 0.9534 - val_loss: 0.1019 - val_acc: 0.9593
Epoch 57/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1234 - acc: 0.9523 - val_loss: 0.0979 - val_acc: 0.9628
Epoch 58/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1210 - acc: 0.9531 - val_loss: 0.1004 - val_acc: 0.9616

Epoch 59/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1185 - acc: 0.9540 - val_loss: 0.0971 - val_acc: 0.9633
Epoch 60/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1151 - acc: 0.9554 - val_loss: 0.1181 - val_acc: 0.9520
Epoch 61/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1175 - acc: 0.9545 - val_loss: 0.1001 - val_acc: 0.9658
Epoch 62/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1141 - acc: 0.9563 - val_loss: 0.0931 - val_acc: 0.9688
Epoch 63/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.1151 - acc: 0.9558 - val_loss: 0.1218 - val_acc: 0.9519
Epoch 64/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1116 - acc: 0.9569 - val_loss: 0.1107 - val_acc: 0.9618
Epoch 65/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1110 - acc: 0.9571 - val_loss: 0.1068 - val_acc: 0.9595
Epoch 66/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.1113 - acc: 0.9572 - val_loss: 0.0965 - val_acc: 0.9646
Epoch 67/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1081 - acc: 0.9590 - val_loss: 0.1126 - val_acc: 0.9556
Epoch 68/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.1147 - acc: 0.9560 - val_loss: 0.1793 - val_acc: 0.9468
Epoch 69/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.1087 - acc: 0.9582 - val_loss: 0.0907 - val_acc: 0.9675
Epoch 70/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.1030 - acc: 0.9609 - val_loss: 0.0926 - val_acc: 0.9601
Epoch 71/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.1044 - acc: 0.9602 - val_loss: 0.2226 - val_acc: 0.8955
Epoch 72/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.1065 - acc: 0.9592 - val_loss: 0.1462 - val_acc: 0.9384
Epoch 73/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.1049 - acc: 0.9599 - val_loss: 0.0833 - val_acc: 0.9712
Epoch 74/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.1026 - acc: 0.9609 - val_loss: 0.0850 - val_acc: 0.9677
Epoch 75/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.1053 - acc: 0.9597 - val_loss: 0.0881 - val_acc: 0.9715
Epoch 76/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.1045 - acc: 0.9598 - val_loss: 0.0995 - val_acc: 0.9619
Epoch 77/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.1013 - acc: 0.9607 - val_loss: 0.0862 - val_acc: 0.9724
Epoch 78/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0994 - acc: 0.9622 - val_loss: 0.1617 - val_acc: 0.9368
Epoch 79/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.1028 - acc: 0.9604 - val_loss: 0.0870 - val_acc: 0.9656
Epoch 80/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0955 - acc: 0.9635 - val_loss: 0.1065 - val_acc: 0.9559
Epoch 81/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0984 - acc: 0.9626 - val_loss: 0.1945 - val_acc: 0.9180
Epoch 82/200
200934/200934 [==============================] - ETA: 0s - loss: 0.0969 - acc: 0.962 - 2s 9us/step - loss: 0.0969 - acc: 0.9629 - val_loss: 0.0793 - val_acc: 0.9705
Epoch 83/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.1020 - acc: 0.9615 - val_loss: 0.2093 - val_acc: 0.9085
Epoch 84/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0980 - acc: 0.9625 - val_loss: 0.0720 - val_acc: 0.9736
Epoch 85/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0940 - acc: 0.9644 - val_loss: 0.0724 - val_acc: 0.9717
Epoch 86/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0953 - acc: 0.9638 - val_loss: 0.0905 - val_acc: 0.9686
Epoch 87/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0980 - acc: 0.9628 - val_loss: 0.0890 - val_acc: 0.9636
Epoch 88/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.1000 - acc: 0.9622 - val_loss: 0.0759 - val_acc: 0.9763
Epoch 89/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0927 - acc: 0.9652 - val_loss: 0.0823 - val_acc: 0.9723
Epoch 90/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0936 - acc: 0.9643 - val_loss: 0.0677 - val_acc: 0.9761
Epoch 91/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0966 - acc: 0.9631 - val_loss: 0.0747 - val_acc: 0.9736
Epoch 92/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0964 - acc: 0.9626 - val_loss: 0.0722 - val_acc: 0.9697
Epoch 93/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0918 - acc: 0.9650 - val_loss: 0.0667 - val_acc: 0.9765
Epoch 94/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0929 - acc: 0.9647 - val_loss: 0.0826 - val_acc: 0.9685
Epoch 95/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0882 - acc: 0.9666 - val_loss: 0.0681 - val_acc: 0.9791
Epoch 96/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0948 - acc: 0.9641 - val_loss: 0.0654 - val_acc: 0.9765
Epoch 97/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0906 - acc: 0.9652 - val_loss: 0.0904 - val_acc: 0.9602
Epoch 98/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0945 - acc: 0.9640 - val_loss: 0.0656 - val_acc: 0.9751
Epoch 99/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0861 - acc: 0.9673 - val_loss: 0.1149 - val_acc: 0.9604
Epoch 100/200
200934/200934 [==============================] - 3s 13us/step - loss: 0.0884 - acc: 0.9664 - val_loss: 0.0670 - val_acc: 0.9739
Epoch 101/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0934 - acc: 0.9641 - val_loss: 0.0741 - val_acc: 0.9729
Epoch 102/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0893 - acc: 0.9663 - val_loss: 0.0695 - val_acc: 0.9745
Epoch 103/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0866 - acc: 0.9670 - val_loss: 0.0692 - val_acc: 0.9731
Epoch 104/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0882 - acc: 0.9669 - val_loss: 0.0668 - val_acc: 0.9730
Epoch 105/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0865 - acc: 0.9669 - val_loss: 0.0701 - val_acc: 0.9732
Epoch 106/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0867 - acc: 0.9669 - val_loss: 0.0777 - val_acc: 0.9706
Epoch 107/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0845 - acc: 0.9680 - val_loss: 0.0650 - val_acc: 0.9816
Epoch 108/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0868 - acc: 0.9671 - val_loss: 0.0630 - val_acc: 0.9788
Epoch 109/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0836 - acc: 0.9684 - val_loss: 0.0825 - val_acc: 0.9677
Epoch 110/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.0866 - acc: 0.9666 - val_loss: 0.0980 - val_acc: 0.9596
Epoch 111/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.0815 - acc: 0.9692 - val_loss: 0.1018 - val_acc: 0.9580
Epoch 112/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0861 - acc: 0.9679 - val_loss: 0.0630 - val_acc: 0.9769
Epoch 113/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0889 - acc: 0.9666 - val_loss: 0.0613 - val_acc: 0.9779
Epoch 114/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0899 - acc: 0.9654 - val_loss: 0.0678 - val_acc: 0.9711
Epoch 115/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0805 - acc: 0.9695 - val_loss: 0.0800 - val_acc: 0.9686
Epoch 116/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.0837 - acc: 0.9684 - val_loss: 0.0996 - val_acc: 0.9555
Epoch 117/200

200934/200934 [==============================] - 2s 8us/step - loss: 0.0855 - acc: 0.9674 - val_loss: 0.0861 - val_acc: 0.9700
Epoch 118/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.0836 - acc: 0.9683 - val_loss: 0.1050 - val_acc: 0.9618
Epoch 119/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0804 - acc: 0.9701 - val_loss: 0.0687 - val_acc: 0.9711
Epoch 120/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0881 - acc: 0.9668 - val_loss: 0.0655 - val_acc: 0.9765
Epoch 121/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0828 - acc: 0.9687 - val_loss: 0.0654 - val_acc: 0.9765
Epoch 122/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0794 - acc: 0.9696 - val_loss: 0.0685 - val_acc: 0.9732
Epoch 123/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0799 - acc: 0.9696 - val_loss: 0.0834 - val_acc: 0.9702
Epoch 124/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0835 - acc: 0.9681 - val_loss: 0.0586 - val_acc: 0.9798
Epoch 125/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0789 - acc: 0.9703 - val_loss: 0.0689 - val_acc: 0.9738
Epoch 126/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0850 - acc: 0.9677 - val_loss: 0.0556 - val_acc: 0.9808
Epoch 127/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0773 - acc: 0.9706 - val_loss: 0.0671 - val_acc: 0.9785
Epoch 128/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.0838 - acc: 0.9689 - val_loss: 0.0640 - val_acc: 0.9745
Epoch 129/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0859 - acc: 0.9673 - val_loss: 0.0629 - val_acc: 0.9783
Epoch 130/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0851 - acc: 0.9676 - val_loss: 0.0551 - val_acc: 0.9796
Epoch 131/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0768 - acc: 0.9710 - val_loss: 0.0707 - val_acc: 0.9723
Epoch 132/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0840 - acc: 0.9679 - val_loss: 0.0645 - val_acc: 0.9762
Epoch 133/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0795 - acc: 0.9699 - val_loss: 0.0538 - val_acc: 0.9835
Epoch 134/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0825 - acc: 0.9687 - val_loss: 0.0659 - val_acc: 0.9738
Epoch 135/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0802 - acc: 0.9693 - val_loss: 0.0555 - val_acc: 0.9785
Epoch 136/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0784 - acc: 0.9705 - val_loss: 0.0820 - val_acc: 0.9623
Epoch 137/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0782 - acc: 0.9703 - val_loss: 0.0891 - val_acc: 0.9565
Epoch 138/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.0819 - acc: 0.9684 - val_loss: 0.0529 - val_acc: 0.9831
Epoch 139/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0798 - acc: 0.9701 - val_loss: 0.0511 - val_acc: 0.9828
Epoch 140/200
200934/200934 [==============================] - 3s 13us/step - loss: 0.0795 - acc: 0.9699 - val_loss: 0.0540 - val_acc: 0.9793
Epoch 141/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0788 - acc: 0.9704 - val_loss: 0.0595 - val_acc: 0.9747
Epoch 142/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.0791 - acc: 0.9697 - val_loss: 0.0665 - val_acc: 0.9750
Epoch 143/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.0805 - acc: 0.9692 - val_loss: 0.0552 - val_acc: 0.9786
Epoch 144/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0760 - acc: 0.9709 - val_loss: 0.0556 - val_acc: 0.9781
Epoch 145/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0847 - acc: 0.9672 - val_loss: 0.0517 - val_acc: 0.9820
Epoch 146/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0815 - acc: 0.9683 - val_loss: 0.1240 - val_acc: 0.9456
Epoch 147/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0759 - acc: 0.9706 - val_loss: 0.0988 - val_acc: 0.9522
Epoch 148/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0736 - acc: 0.9717 - val_loss: 0.0584 - val_acc: 0.9790
Epoch 149/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0837 - acc: 0.9679 - val_loss: 0.1112 - val_acc: 0.9465
Epoch 150/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0743 - acc: 0.9711 - val_loss: 0.0787 - val_acc: 0.9672
Epoch 151/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0828 - acc: 0.9684 - val_loss: 0.0601 - val_acc: 0.9781
Epoch 152/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0841 - acc: 0.9668 - val_loss: 0.0510 - val_acc: 0.9811
Epoch 153/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0758 - acc: 0.9706 - val_loss: 0.0920 - val_acc: 0.9558
Epoch 154/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.0728 - acc: 0.9725 - val_loss: 0.0527 - val_acc: 0.9804
Epoch 155/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0816 - acc: 0.9686 - val_loss: 0.0512 - val_acc: 0.9813
Epoch 156/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0731 - acc: 0.9720 - val_loss: 0.0555 - val_acc: 0.9832
Epoch 157/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0736 - acc: 0.9717 - val_loss: 0.0552 - val_acc: 0.9781
Epoch 158/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0738 - acc: 0.9715 - val_loss: 0.0628 - val_acc: 0.9767
Epoch 159/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.0745 - acc: 0.9713 - val_loss: 0.0516 - val_acc: 0.9796
Epoch 160/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0826 - acc: 0.9698 - val_loss: 0.0712 - val_acc: 0.9730
Epoch 161/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0741 - acc: 0.9714 - val_loss: 0.0503 - val_acc: 0.9814
Epoch 162/200
200934/200934 [==============================] - 2s 8us/step - loss: 0.0744 - acc: 0.9709 - val_loss: 0.0533 - val_acc: 0.9784
Epoch 163/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0755 - acc: 0.9706 - val_loss: 0.0501 - val_acc: 0.9819
Epoch 164/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0764 - acc: 0.9703 - val_loss: 0.0607 - val_acc: 0.9733
Epoch 165/200
200934/200934 [==============================] - 2s 9us/step - loss: 0.0749 - acc: 0.9714 - val_loss: 0.0647 - val_acc: 0.9795
Epoch 166/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0700 - acc: 0.9732 - val_loss: 0.0627 - val_acc: 0.9737
Epoch 167/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0746 - acc: 0.9713 - val_loss: 0.0732 - val_acc: 0.9685
Epoch 168/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0767 - acc: 0.9703 - val_loss: 0.0498 - val_acc: 0.9827
Epoch 169/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0764 - acc: 0.9709 - val_loss: 0.0740 - val_acc: 0.9713
Epoch 170/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0711 - acc: 0.9725 - val_loss: 0.1166 - val_acc: 0.9665
Epoch 171/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.0740 - acc: 0.9721 - val_loss: 0.0747 - val_acc: 0.9686
Epoch 172/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0756 - acc: 0.9712 - val_loss: 0.0587 - val_acc: 0.9791
Epoch 173/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0716 - acc: 0.9726 - val_loss: 0.0524 - val_acc: 0.9838
Epoch 174/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.0755 - acc: 0.9719 - val_loss: 0.2587 - val_acc: 0.9057
Epoch 175/200

200934/200934 [==============================] - 2s 10us/step - loss: 0.0748 - acc: 0.9714 - val_loss: 0.0797 - val_acc: 0.9611
Epoch 176/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0679 - acc: 0.9742 - val_loss: 0.0691 - val_acc: 0.9705
Epoch 177/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0759 - acc: 0.9704 - val_loss: 0.0657 - val_acc: 0.9700
Epoch 178/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0698 - acc: 0.9733 - val_loss: 0.0525 - val_acc: 0.9821
Epoch 179/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0669 - acc: 0.9743 - val_loss: 0.0556 - val_acc: 0.9816
Epoch 180/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0695 - acc: 0.9733 - val_loss: 0.0581 - val_acc: 0.9736
Epoch 181/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.0713 - acc: 0.9733 - val_loss: 0.0479 - val_acc: 0.9803
Epoch 182/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0693 - acc: 0.9734 - val_loss: 0.0915 - val_acc: 0.9613
Epoch 183/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0716 - acc: 0.9728 - val_loss: 0.0636 - val_acc: 0.9716
Epoch 184/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0715 - acc: 0.9730 - val_loss: 0.0587 - val_acc: 0.9815
Epoch 185/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0731 - acc: 0.9719 - val_loss: 0.0471 - val_acc: 0.9832
Epoch 186/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0692 - acc: 0.9731 - val_loss: 0.0584 - val_acc: 0.9789
Epoch 187/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0678 - acc: 0.9742 - val_loss: 0.0578 - val_acc: 0.9755
Epoch 188/200
200934/200934 [==============================] - 2s 10us/step - loss: 0.0667 - acc: 0.9744 - val_loss: 0.0531 - val_acc: 0.9864
Epoch 189/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0711 - acc: 0.9734 - val_loss: 0.0466 - val_acc: 0.9849
Epoch 190/200
200934/200934 [==============================] - 3s 13us/step - loss: 0.0680 - acc: 0.9738 - val_loss: 0.0467 - val_acc: 0.9828
Epoch 191/200
200934/200934 [==============================] - 3s 16us/step - loss: 0.0725 - acc: 0.9724 - val_loss: 0.0452 - val_acc: 0.9846
Epoch 192/200
200934/200934 [==============================] - 3s 13us/step - loss: 0.0739 - acc: 0.9719 - val_loss: 0.0456 - val_acc: 0.9828
Epoch 193/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0730 - acc: 0.9724 - val_loss: 0.0980 - val_acc: 0.9610
Epoch 194/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0661 - acc: 0.9748 - val_loss: 0.0520 - val_acc: 0.9784
Epoch 195/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0740 - acc: 0.9719 - val_loss: 0.0491 - val_acc: 0.9825
Epoch 196/200
200934/200934 [==============================] - 3s 13us/step - loss: 0.0690 - acc: 0.9736 - val_loss: 0.0595 - val_acc: 0.9792
Epoch 197/200
200934/200934 [==============================] - 3s 13us/step - loss: 0.0682 - acc: 0.9742 - val_loss: 0.0783 - val_acc: 0.9658
Epoch 198/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0688 - acc: 0.9736 - val_loss: 0.0519 - val_acc: 0.9779
Epoch 199/200
200934/200934 [==============================] - 2s 12us/step - loss: 0.0675 - acc: 0.9741 - val_loss: 0.0468 - val_acc: 0.9827
Epoch 200/200
200934/200934 [==============================] - 2s 11us/step - loss: 0.0710 - acc: 0.9728 - val_loss: 0.0679 - val_acc: 0.9735

In [453]:
test_loss,test_acc = model.evaluate(numpy_test_inputs,test_label_categ)
print('test accuracy=',test_acc)

26790/26790 [==============================] - 0s 19us/step
test accuracy= 0.9727510265024263

## To save the Model architecture and weight

In [454]:
model.save('trained.h5')